src/pug/index.pug
doctype
html
	include blocks/head
	include blocks/top-banner
	include blocks/menu
	include blocks/your-career
	include blocks/who-should
	include blocks/applicants
	include blocks/teachers
	include blocks/bg-video
	include blocks/social
	include blocks/footer

	+head
	body
		+top-banner
		+menu
		+your-career
		+who-should
		+applicants
		+teachers
		+bg-video
		.slider
			.wrapper.wrapper-bg#house
				.slider__title.title House
				#carousel-example-generic.carousel.slide(data-ride="carousel")
					//- Indicators
					ol.carousel-indicators
						li.active(data-target="#carousel-example-generic", data-slide-to="0")
						li(data-target="#carousel-example-generic", data-slide-to="1")
						li(data-target="#carousel-example-generic", data-slide-to="2")

					//- Wrapper for slides
					.carousel-inner(role="listbox")
						.item.active
							img(src="./images/image-1.jpg", srcset="./images/image-1@2x.jpg 2x", alt="Photo")
						.item
							img(src="./images/image-2.jpg", srcset="./images/image-2@2x.jpg 2x", alt="Photo")
						.item
							img(src="./images/image-3.jpg", srcset="./images/image-3@2x.jpg 2x", alt="Photo")
					//- Controls
					a.left.carousel-control(href="#carousel-example-generic", role="button", data-slide="prev")
						img.icon-carousel(src="./images/arrow-carousel-left.png")
					a.right.carousel-control(href="#carousel-example-generic", role="button", data-slide="next")
						img.icon-carousel(src="./images/arrow-carousel-right.png")

		.slider
			.wrapper.wrapper-bg#studios
				.slider__title.title Studios
				.slider__address 5811 Valley Oak Dr, Los Angeles, CA 90068
				#carousel-example-generic-3.carousel.slide(data-ride="carousel")
					//- Indicators
					ol.carousel-indicators
						li.active(data-target="#carousel-example-generic-3", data-slide-to="0")
						li(data-target="#carousel-example-generic-3", data-slide-to="1")
						li(data-target="#carousel-example-generic-3", data-slide-to="2")

					//- Wrapper for slides
					.carousel-inner(role="listbox")
						.item.active
							img(src="./images/image-1.jpg", srcset="./images/image-1@2x.jpg 2x", alt="Photo")
						.item
							img(src="./images/image-2.jpg", srcset="./images/image-2@2x.jpg 2x", alt="Photo")
						.item
							img(src="./images/image-3.jpg", srcset="./images/image-3@2x.jpg 2x", alt="Photo")
					//- Controls
					a.left.carousel-control(href="#carousel-example-generic-3", role="button", data-slide="prev")
						img.icon-carousel(src="./images/arrow-carousel-left.png")
					a.right.carousel-control(href="#carousel-example-generic-3", role="button", data-slide="next")
						img.icon-carousel(src="./images/arrow-carousel-right.png")

		.slider
			.wrapper.wrapper-bg#concerts
				.slider__title.title Concerts
				#carousel-example-generic-2.carousel.slide(data-ride="carousel")
					//- Indicators
					ol.carousel-indicators
						li.active(data-target="#carousel-example-generic-2", data-slide-to="0")
						li(data-target="#carousel-example-generic-2", data-slide-to="1")
						li(data-target="#carousel-example-generic-2", data-slide-to="2")

					//- Wrapper for slides
					.carousel-inner(role="listbox")
						.item.active
							img(src="./images/image-1.jpg", srcset="./images/image-1@2x.jpg 2x", alt="Photo")
							.carousel-caption.carousel-caption--custom
								.carousel-caption__time 09.30.17 / 9:30 PM
								.carousel-caption__name Raisa Kovacki
								.carousel-caption__desc El Rey Theatre <br> 5515 Wilshire Blvd, Los Angeles, CA 90036
						.item
							img(src="./images/image-2.jpg", srcset="./images/image-2@2x.jpg 2x", alt="Photo")
							.carousel-caption.carousel-caption--custom
								.carousel-caption__time 09.30.17 / 9:30 PM
								.carousel-caption__name Raisa Kovacki
								.carousel-caption__desc El Rey Theatre <br> 5515 Wilshire Blvd, Los Angeles, CA 90036
						.item
							img(src="./images/image-3.jpg", srcset="./images/image-3@2x.jpg 2x", alt="Photo")
							.carousel-caption.carousel-caption--custom
								.carousel-caption__time 09.30.17 / 9:30 PM
								.carousel-caption__name Raisa Kovacki
								.carousel-caption__desc El Rey Theatre <br> 5515 Wilshire Blvd, Los Angeles, CA 90036
					//- Controls
					a.left.carousel-control(href="#carousel-example-generic-2", role="button", data-slide="prev")
						img.icon-carousel(src="./images/arrow-carousel-left.png")
					a.right.carousel-control(href="#carousel-example-generic-2", role="button", data-slide="next")
						img.icon-carousel(src="./images/arrow-carousel-right.png")
		+footer
				

dist/index.html
<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,700&quot; rel=&quot;stylesheet">
      <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="./style/normalize.min.css">
      <link rel="stylesheet" href="./style/main.min.css">
    </head>
  <body>
      <div class="top-banner" id="arrival">
        <div class="wrapper">
          <div class="top-banner-header"><img class="mobile-menu-btn" src="./images/menu-icon.svg" width="32" height="27" id="open-menu"><a class="top-banner-header__logo" href="#"></a><a class="top-banner-header__button button button--iconed" href="#" title="">upload tracks</a><a class="top-banner-header__button-mobile button" href="#" title=""></a></div>
          <div class="top-banner__content">
            <div class="top-banner__title">Arrival</div>
            <div class="top-banner__subtitle">october 10 – november 17</div>
            <div class="top-banner__text">Abbot Kinney Blvd – named after the developer and conservationist who founded Venice – is perhaps one of the liveliest, trendiest streets in all of Los Angeles.</div>
          </div>
        </div>
      </div>
      <div class="menu">
        <div class="wrapper">
          <div class="menu__mobile" id="menuMobile"><img class="mobile-menu-close-btn" id="closeMenu" src="./images/close.png"><a class="menu__item" href="#arrival" title="">Arrival</a><a class="menu__item" href="#applicants-sm" title="">Applicants</a><a class="menu__item" href="#teachers-sm" title="">Teachers</a><a class="menu__item" href="#live" title="">Live</a><a class="menu__item" href="#house" title="">House</a><a class="menu__item" href="#studios" title="">Studios</a><a class="menu__item" href="#concerts" title="">Concerts</a></div>
          <div class="menu__list"><a class="menu__item" href="#arrival" title="">Arrival</a><a class="menu__item" href="#applicants" title="">Applicants</a><a class="menu__item" href="#teachers" title="">Teachers</a><a class="menu__item" href="#live" title="">Live</a><a class="menu__item" href="#house" title="">House</a><a class="menu__item" href="#studios" title="">Studios</a><a class="menu__item" href="#concerts" title="">Concerts</a></div>
        </div>
      </div>
      <div class="your-career">
        <div class="wrapper wrapper-bg">
          <div class="your-career__col your-career__col--first">
            <div class="your-career__curve"></div>
            <div class="your-career__content">
              <div class="your-career__title">make music your career!</div>
                <div class="social"><a class="social__icon social__icon--tw" href="#" title="" target="_blank"></a><a class="social__icon social__icon--fb" href="#" title="" target="_blank"></a><a class="social__icon social__icon--in" href="#" title="" target="_blank"></a></div>
            </div>
          </div>
          <div class="your-career__col your-career__col--second"><iframe id="smallVideo" width="409" height="397" src="https://www.youtube.com/embed/jsCR05oKROA" frameborder="0" allowfullscreen></iframe>
            <div class="your-career__icon your-career__icon--play" id="playSmallVideo"></div>
            <div class="your-career__video-title">Los Angeles, California</div>
          </div>
        </div>
      </div>
      <div class="who-should">
        <div class="wrapper wrapper-bg">
          <div class="who-should__col who-should__col--first">
            <div class="who-should-info">
              <div class="who-should-info__title">Who should apply?</div>
              <div class="who-should-info__text">
                <p>Singers & songwriters, Composers & sound engineers, DJs & producers, Drummers, Pianists, Woodwinds, String instruments, Bands, Duets</p>
              </div>
            </div>
          </div>
          <div class="who-should__col who-should__col--second">
            <div class="who-should-offer">
              <div class="who-should-offer__title">isina 2017</div>
              <div class="who-should-offer__subtitle">october 10 – november 17</div>
              <div class="who-should-offer__text">Don’t dilly daddle!<br> Upload your track before it’s started</div><a class="who-should-offer__button button" href="#" title="">get started</a>
            </div>
          </div>
        </div>
      </div>
      <div class="applicants" id="applicants">
        <div class="wrapper wrapper-bg">
          <div class="applicants__rounds"></div>
          <div class="applicants__circle"></div>
          <div class="applicants__flourish"></div>
          <div class="applicants__title title">Applicants</div>
          <div class="applicants__row">
            <div class="applicants__photo"><img src="images/applicants1.jpg" alt=""></div>
            <div class="applicants__photo"><img src="images/applicants2.jpg" alt=""></div>
            <div class="applicants__photo"><img src="images/applicants3.jpg" alt=""></div>
          </div>
          <div class="applicants__row applicants__row--center">
            <div class="applicants__photo"><img src="images/applicants4.jpg" alt=""></div>
            <div class="applicants__photo"><img src="images/applicants5.jpg" alt=""></div>
          </div>
        </div>
      </div>
      <div class="slider-applicants">
        <div class="wrapper wrapper-bg" id="applicants-sm">
          <div class="slider__title title">Applicants</div>
          <div class="applicants__rounds"></div>
          <div class="slider__address">5811 Valley Oak Dr, Los Angeles, CA 90068</div>
          <div class="carousel slide" id="carousel-example-generic-1" data-ride="carousel">
            <ol class="carousel-indicators carousel-indicators--black">
              <li class="active" data-target="#carousel-example-generic-1" data-slide-to="0"></li>
              <li data-target="#carousel-example-generic-1" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic-1" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="item active"><img src="./images/applicants1.jpg" alt="Photo"></div>
              <div class="item"><img src="./images/applicants2.jpg" alt="Photo"></div>
              <div class="item"><img src="./images/applicants3.jpg" alt="Photo"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="teachers" id="teachers">
        <div class="wrapper wrapper-bg">
          <div class="teachers__title title">Teachers</div>
          <div class="teachers__row">
            <div class="teachers-item">
              <div class="teachers-item__inner">
                <div class="teachers-item__image"><img src="images/teacher1.jpg" alt="" srcset="images/teacher1@2x.jpg 2x"></div>
                <div class="teachers-item__info">
                  <div class="teachers-item__title">John Smith</div>
                  <div class="teachers-item__text">
                    <p>Freepik Selection are all the exclusive content designed by our team. Additionally, if you are subscribed to our Premium account, when using this vector, you can avoid crediting the image to Freepik. Freepik Selection are all the exclusive content designed by our team. Additionally, if you are subscribed to our Premium account, when using this vector, you can avoid crediting the image to Freepik.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="teachers-item">
              <div class="teachers-item__inner">
                <div class="teachers-item__image"><img src="images/teacher2.jpg" alt="" srcset="images/teacher2@2x.jpg 2x"></div>
                <div class="teachers-item__info">
                  <div class="teachers-item__title">John Smith</div>
                  <div class="teachers-item__text">
                    <p>Freepik Selection are all the exclusive content designed by our team. Additionally, if you are subscribed to our Premium account, when using this vector, you can avoid crediting the image to Freepik. Freepik Selection are all the exclusive content designed by our team. Additionally, if you are subscribed to our Premium account, when using this vector, you can avoid crediting the image to Freepik.</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="teachers-item">
              <div class="teachers-item__inner">
                <div class="teachers-item__image"><img src="images/teacher3.jpg" alt="" srcset="images/teacher3@2x.jpg 2x"></div>
                <div class="teachers-item__info">
                  <div class="teachers-item__title">John Smith</div>
                  <div class="teachers-item__text">
                    <p>Freepik Selection are all the exclusive content designed by our team. Additionally, if you are subscribed to our Premium account, when using this vector, you can avoid crediting the image to Freepik. Freepik Selection are all the exclusive content designed by our team. Additionally, if you are subscribed to our Premium account, when using this vector, you can avoid crediting the image to Freepik.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="slider-teachers">
        <div class="wrapper wrapper-bg" id="teachers-sm">
          <div class="slider__title title">Teachers</div>
          <div class="carousel slide" id="carousel-example-generic-4" data-ride="carousel">
            <ol class="carousel-indicators carousel-indicators--black">
              <li class="active" data-target="#carousel-example-generic-4" data-slide-to="0"></li>
              <li data-target="#carousel-example-generic-4" data-slide-to="1"></li>
              <li data-target="#carousel-example-generic-4" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
              <div class="item active"><img src="./images/tsm1.png" alt="Photo">
                <div class="teachers-item__info">
                  <div class="teachers-item__title">John Smith</div>
                  <div class="teachers-item__text">
                    <p>Freepik Selection are all the exclusive content designed by our team. Additionally, if you are subscribed to our Premium account, when using this vector, you can avoid crediting the image to Freepik. Freepik Selection are all the exclusive content designed by our team. Additionally, if you are subscribed to our Premium account, when using this vector, you can avoid crediting the image to Freepik.</p>
                  </div>
                </div>
              </div>
              <div class="item"><img src="./images/tsm2.png" alt="Photo">
                <div class="teachers-item__info">
                  <div class="teachers-item__title">John Smith</div>
                  <div class="teachers-item__text">
                    <p>Freepik Selection are all the exclusive content designed by our team. Additionally, if you are subscribed to our Premium account, when using this vector, you can avoid crediting the image to Freepik. Freepik Selection are all the exclusive content designed by our team. Additionally, if you are subscribed to our Premium account, when using this vector, you can avoid crediting the image to Freepik.</p>
                  </div>
                </div>
              </div>
              <div class="item"><img src="./images/tsm3.png" alt="Photo">
                <div class="teachers-item__info">
                  <div class="teachers-item__title">John Smith</div>
                  <div class="teachers-item__text">
                    <p>Freepik Selection are all the exclusive content designed by our team. Additionally, if you are subscribed to our Premium account, when using this vector, you can avoid crediting the image to Freepik. Freepik Selection are all the exclusive content designed by our team. Additionally, if you are subscribed to our Premium account, when using this vector, you can avoid crediting the image to Freepik.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-video" id="live">
        <div class="wrapper wrapper-bg">
          <div class="bg-video__title" id="titleVideo">Watch Live Now</div><iframe width="1024" id="liveVideo" height="400" src="https://www.youtube.com/embed/RtU_mdL2vBM" frameborder="0" allowfullscreen></iframe>
          <div class="bg-video__icon" id="playLiveVideo"></div>
        </div>
      </div>
    <div class="slider">
      <div class="wrapper wrapper-bg" id="house">
        <div class="slider__title title">House</div>
        <div class="carousel slide" id="carousel-example-generic" data-ride="carousel">
          <ol class="carousel-indicators">
            <li class="active" data-target="#carousel-example-generic" data-slide-to="0"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="item active"><img src="./images/image-1.jpg" srcset="./images/image-1@2x.jpg 2x" alt="Photo"></div>
            <div class="item"><img src="./images/image-2.jpg" srcset="./images/image-2@2x.jpg 2x" alt="Photo"></div>
            <div class="item"><img src="./images/image-3.jpg" srcset="./images/image-3@2x.jpg 2x" alt="Photo"></div>
          </div><a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev"><img class="icon-carousel" src="./images/arrow-carousel-left.png"></a><a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next"><img class="icon-carousel" src="./images/arrow-carousel-right.png"></a>
        </div>
      </div>
    </div>
    <div class="slider">
      <div class="wrapper wrapper-bg" id="studios">
        <div class="slider__title title">Studios</div>
        <div class="slider__address">5811 Valley Oak Dr, Los Angeles, CA 90068</div>
        <div class="carousel slide" id="carousel-example-generic-3" data-ride="carousel">
          <ol class="carousel-indicators">
            <li class="active" data-target="#carousel-example-generic-3" data-slide-to="0"></li>
            <li data-target="#carousel-example-generic-3" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic-3" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="item active"><img src="./images/image-1.jpg" srcset="./images/image-1@2x.jpg 2x" alt="Photo"></div>
            <div class="item"><img src="./images/image-2.jpg" srcset="./images/image-2@2x.jpg 2x" alt="Photo"></div>
            <div class="item"><img src="./images/image-3.jpg" srcset="./images/image-3@2x.jpg 2x" alt="Photo"></div>
          </div><a class="left carousel-control" href="#carousel-example-generic-3" role="button" data-slide="prev"><img class="icon-carousel" src="./images/arrow-carousel-left.png"></a><a class="right carousel-control" href="#carousel-example-generic-3" role="button" data-slide="next"><img class="icon-carousel" src="./images/arrow-carousel-right.png"></a>
        </div>
      </div>
    </div>
    <div class="slider">
      <div class="wrapper wrapper-bg" id="concerts">
        <div class="slider__title title">Concerts</div>
        <div class="carousel slide" id="carousel-example-generic-2" data-ride="carousel">
          <ol class="carousel-indicators">
            <li class="active" data-target="#carousel-example-generic-2" data-slide-to="0"></li>
            <li data-target="#carousel-example-generic-2" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic-2" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner" role="listbox">
            <div class="item active"><img src="./images/image-1.jpg" srcset="./images/image-1@2x.jpg 2x" alt="Photo">
              <div class="carousel-caption carousel-caption--custom">
                <div class="carousel-caption__time">09.30.17 / 9:30 PM</div>
                <div class="carousel-caption__name">Raisa Kovacki</div>
                <div class="carousel-caption__desc">El Rey Theatre <br> 5515 Wilshire Blvd, Los Angeles, CA 90036</div>
              </div>
            </div>
            <div class="item"><img src="./images/image-2.jpg" srcset="./images/image-2@2x.jpg 2x" alt="Photo">
              <div class="carousel-caption carousel-caption--custom">
                <div class="carousel-caption__time">09.30.17 / 9:30 PM</div>
                <div class="carousel-caption__name">Raisa Kovacki</div>
                <div class="carousel-caption__desc">El Rey Theatre <br> 5515 Wilshire Blvd, Los Angeles, CA 90036</div>
              </div>
            </div>
            <div class="item"><img src="./images/image-3.jpg" srcset="./images/image-3@2x.jpg 2x" alt="Photo">
              <div class="carousel-caption carousel-caption--custom">
                <div class="carousel-caption__time">09.30.17 / 9:30 PM</div>
                <div class="carousel-caption__name">Raisa Kovacki</div>
                <div class="carousel-caption__desc">El Rey Theatre <br> 5515 Wilshire Blvd, Los Angeles, CA 90036</div>
              </div>
            </div>
          </div><a class="left carousel-control" href="#carousel-example-generic-2" role="button" data-slide="prev"><img class="icon-carousel" src="./images/arrow-carousel-left.png"></a><a class="right carousel-control" href="#carousel-example-generic-2" role="button" data-slide="next"><img class="icon-carousel" src="./images/arrow-carousel-right.png"></a>
        </div>
      </div>
    </div>
      <footer class="footer">
        <div class="wrapper wrapper-bg">
          <div class="footer__title">Sign up for News & Reminders</div>
          <form class="footer-form" method="POST" action="">
            <input class="footer-form__field form-field" type="text" value="" name="email" placeholder="Email Address" required>
            <input class="footer-form__submit button button--green" type="submit" value="join us">
          </form>
          <div class="footer__bottom">
            <div class="footer__policy">
              Isina Inc., 2017<br>
              Terms of use. Privacy notice. Official rules.
            </div>
              <div class="social"><a class="social__icon social__icon--tw" href="#" title="" target="_blank"></a><a class="social__icon social__icon--fb" href="#" title="" target="_blank"></a><a class="social__icon social__icon--in" href="#" title="" target="_blank"></a></div>
          </div>
        </div>
      </footer>
      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="./js/main.min.js"></script>
  </body>
</html>
